<!DOCTYPE html>
<!-- index.html -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <title>Creating a Full-Stack Python Application with NPM, React.js and Webpack</title>
</head>

<body>
<span id="react-root"><span/>
<script src="dist/bundle.js" type="text/javascript"></script>
</body>
</html>